@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/MadimiOne-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/MadimiOne-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/MadimiOne-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/MadimiOne-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/MadimiOne-Regular.ttf') format('woff');
}

body {
  font-family: 'Pretendard', sans-serif;
}