.button-lg-acc {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.button-sm {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.button-xs {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
